{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Arctan, Inc.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'landingpage/assets/images/ArctanLogo.ico' %}">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'landingpage/assets/styles/vendor/bootstrap.min.css' %}">
        <!-- Fonts -->
        <link rel="stylesheet" href="{% static 'landingpage/assets/fonts/et-lineicons/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'landingpage/assets/fonts/linea-font/css/linea-font.css' %}">
        <link rel="stylesheet" href="{% static 'landingpage/assets/fonts/fontawesome/css/font-awesome.min.css' %}">
        <!-- Slider -->
        <link rel="stylesheet" href="{% static 'landingpage/assets/styles/vendor/slick.css' %}">
        <!-- Lightbox -->
        <link rel="stylesheet" href="{% static 'landingpage/assets/styles/vendor/magnific-popup.css' %}">
        <!-- Animate.css -->
        <link rel="stylesheet" href="{% static 'landingpage/assets/styles/vendor/animate.css' %}">


        <!-- Definity CSS -->
        <link rel="stylesheet" href="{% static 'landingpage/assets/fonts/wave-font/css/wave-font.css' %}">

        <link rel="stylesheet" href="{% static 'landingpage/assets/styles/main.css' %}">
        <link rel="stylesheet" href="{% static 'landingpage/assets/styles/responsive.css' %}">

        <link rel="stylesheet" href="{% static 'landingpage/css/arctan-fourier.css' %}">

        <!-- JS -->
        <script src="{% static 'landingpage/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar">
        
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- ========== Preloader ========== -->

        <div class="preloader">
          <img src="{% static 'landingpage/assets/images/loader.svg' %}" alt="Loading...">
        </div>




        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-trans  navbar-fw" role="navigation">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <!-- <a class="navbar-brand" href="#home"><img src="{% static 'landingpage/assets/images/logo-word-2.png' %}" alt="Arctan - Logo"></a> -->
          </div>

          <!-- Navbar Links -->
          <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="#home">Home<span class="sr-only"></span></a></li>
              <li><a href="#about">About<span class="sr-only"></span></a></li>
              <li><a href="#services">Services<span class="sr-only"></span></a></li>
              <!-- <li><a href="#portfolio">Portfolio<span class="sr-only"></span></a></li> -->
              <!-- <li><a href="#testimonials">Testimonials<span class="sr-only"></span></a></li> -->
              <!-- <li><a href="#blog">Blog<span class="sr-only"></span></a></li> -->
              <li><a href="#contact">Contact<span class="sr-only"></span></a></li>
              <!-- <li><a href="index.html">All Demos<span class="sr-only"></span></a></li> -->
            </ul><!-- / .nav .navbar-nav -->              
          </div><!--/.navbar-collapse -->
        </nav><!-- / .navbar -->



        <!-- ========== Hero Cover ========== -->

        <div id="home" class="agency2-hero">
          <div class="bg-overlay">
            
            <div id="large-header" class="large-header">
              <canvas id="demo-canvas" class="demo-canvas"></canvas>

              <!-- Hero Content -->
              <div class="hero-content-wrapper">
                <div class="hero-content">
                  <!-- <img src="{% static 'landingpage/assets/images/hero/ArctanLogo.png' %}" alt="Arctan"> -->

                  <object type="image/svg+xml" data="{% static 'landingpage/assets/images/hero/ArctanLogo_a2.svg' %}">
                    Your browser does not support SVG
                  </object>

                  <h1 class="hero-lead">ARCTAN, INC.</h1>

                  <h4 class="h-alt hero-secondary">Stay on the edge</h4>
                  <a href="#about" class="btn btn-light">Learn More</a>
                  
                  <!-- Scroller -->
                  <a id="idScrollDown" href="#about" class="scroller">
                    <span class="scroller-text">scroll down</span>
                    <span class="linea-basic-magic-mouse"></span>
                  </a>

                </div><!-- / .hero-content -->
              </div><!-- / .hero-content-wrapper -->

            </div><!-- / #large-header -->

          </div><!-- / .bg-overlay -->
        </div><!-- / #home -->



        <!-- ========== About - Section ========== -->

        <section id="about" class="container">
          <div class="row section">
            
            <header class="sec-heading">
              <h2>About Arctan, Inc.</h2>
              <span class="subheading">Stay on the edge</span>
            </header>

            <div class="col-md-4">
              <p>
                Arctan, Inc. is a small C-corporation based in Arlington, VA., performing cutting-edge R&D for a select group of leading companies and government clients. We provide analytic augmentation and software development for risk analysis and impact assessment. The subject matter is often considered difficult to model, but has significant effects on business.
              </p>
            </div>
            <div class="col-md-4">
              <p>Our service is to rapidly develop, prove, and implement novel capabilities for use by our clients. These components offer measurable advantages in situational awareness and decision-making under uncertainty.
              </p>
            </div>
            <div class="col-md-4">
              <p>We are a fully independent company. We are able to rapidly deploy almost anywhere on the globe to accomplish analytic studies, trusted representation, prototyping and engineering.
            </p>
            </div>
          </div><!-- / .row -->
          <!-- <div class="row ws-m">
            <div class="col-md-12 text-center">
              <a href="#" class="btn-text">More about us</a>
            </div>
          </div> -->
        </section><!-- / .container -->



        <!-- ========== Number Counters - Dark bg ========== -->

        <!-- ========== CTA - Contact Link ========== -->

        <div class="cta-link cta-dark">
          <div class="bg-overlay">
            
            <div class="cta-wrapper">
              <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">Personnel</h3>

              <header class="sec-heading ws-s">
                <span class="subheading">
                  We employ a high quality scientific and engineering staff,<br>all of whom have made recent, significant contributions in their fields.<br>Our flexible fast-moving R&D workflow permeates the company culture and spirit.<br>All of our employees contribute to the creative process and growth of the company.
                  <br><br>
                  We do not regularly advertize new positions,<br>but interested candidates are always welcome to contact us.
                </span>
              </header>

              <a href="#contact" class="btn btn-light btn-large wow fadeIn" data-wow-delay=".3s" data-wow-duration="1s">Get in touch</a>
            </div>

          </div>
        </div><!-- / .dark-bg .cta-link -->


        <!-- ========== Services ========== -->

        <div class="gray-bg">
          <section id="services" class="container ft-cards">
            <div class="row section">
              <header class="sec-heading">
                <h2>What we do</h2>
                <span class="subheading">Cutting-Edge Technology</span>
              </header>
              
              <div class="sec-heading">
                <p>
                A theme throughout our work is the unique 21st century problem of information overload.
                </p>
                <br>
                <p>
                  Our integrated innovation toolkit leverages novel frameworks for human-machine cooperation combined with a lean approach of highly modular technologies, both software and hardware. We have successfully applied this ansatz to tackle complex problems which lie at the intersction of both human cognition and machine bandwidth limitations.
                </p>
                <p>
                  Technical fields of expertise include artificial intelligence, machine learning, telecommunications, data analytics, spectral analysis and game theory.
                </p>
              </div>

              <!-- Item 1 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s">                  
                  <img src="{% static 'landingpage/assets/images/whatwedo/brain.png' %}" alt="AI" width="80">
                  <h4>Artificial Intelligence and Machine Learning</h4>
                  <!-- <p>We have a strong reputation in model development, verification and validation, uncertainty quantification, and algorithm design.</p> -->
                  
                    <ul>
                      <li>
                        Convolutional Neural networks
                      </li>
                      <li>
                        Image and video analysis
                      </li>
                      <li>
                        Topic Modeling
                      </li>
                      <li>
                        Probabilistic Networks
                      </li>
                      <li>
                        Probabilistic Logic
                      </li>
                    </ul>     
                  
                  <!-- <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a> -->
                </div>
              </div>

              <!-- Item 2 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                  <img src="{% static 'landingpage/assets/images/whatwedo/telecomm1.png' %}" alt="AI" width="60">
                  <h4>Telecommunications</h4>
                  <!-- <p>We have produced a number of advances in pattern recognition and situation assessment.</p> -->
                  <ul>
                    <li>
                      Information distribution and diffusion
                    </li>
                    <li>
                      Simulation of networks
                    </li>
                    <li>
                      LTE, G4 and beyond
                    </li>
                  </ul>
                  <!-- <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a> -->
                </div>
              </div>

              <!-- Item 3 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                  <img src="{% static 'landingpage/assets/images/whatwedo/data.png' %}" alt="AI" width="65">
                  <h4>Data analytics</h4>
                  <!-- <p>We have extensive experience in analysis of complex scenarios and systems.</p> -->
                  <ul>
                    <li>
                      Databases
                    </li>
                    <li>
                      Modeling
                    </li>
                    <li>
                      Big data
                    </li>
                    <li>
                      GPU computing
                    </li>
                  </ul>    
                  <!-- <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a> -->
                </div>
              </div>

            </div><!-- / .row -->

            <div class="row">
              
              <!-- Item 4 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s">
                  <img src="{% static 'landingpage/assets/images/whatwedo/spectral.png' %}" alt="AI" width="90">
                  
                  <!-- <canvas id="idSpectralAnalysis" class="sketch" width="320" height="300"></canvas> -->

                  <h4>Spectral Analysis</h4>
                  <!-- <p>We do research in signal transmission.</p> -->
                  <ul>
                    <li>
                      Highly optimized Fast Fourier Transform (FFT) applications     
                    </li>
                    <li>
                      GPU optimized FFT
                    </li>
                  </ul>
                  <canvas id="idSpectralAnalysis" class="sketch" width="290" height="80"></canvas>

                  <!-- <canvas id="arctan-title" class="sketch" width="290" height="100"></canvas> -->
                  <!-- <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a> -->

                </div>
              </div>

              <!-- Item 4 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s">
                  <img src="{% static 'landingpage/assets/images/whatwedo/poker.png' %}" alt="AI" width="60">
                  
                  <!-- <canvas id="idSpectralAnalysis" class="sketch" width="320" height="300"></canvas> -->

                  <h4>Computational Game Theory</h4>
                  <ul>
                    <li>
                      Modeling     
                    </li>
                    <li>
                      Solutions of large scale games
                    </li>
                    <li>
                      Incomplete information games
                    </li>
                  </ul>
                  <!-- <p>We do research in signal transmission.</p> -->
                  <!--
                  <canvas id="arctan-title" class="sketch" width="290" height="100"></canvas>
                  -->
                  
                  <!-- <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a> -->

                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s">
                  <img src="{% static 'landingpage/assets/images/whatwedo/eye.png' %}" alt="Human Machine Teaming" width="100">
                  
                  <!-- <canvas id="idSpectralAnalysis" class="sketch" width="320" height="300"></canvas> -->

                  <h4>Human Machine Teaming</h4>
                  <ul>
                    <li>
                      Situational awareness     
                    </li>
                    <li>
                      Reduction of cognitive overload
                    </li>
                    <li>
                      Decision analysis
                    </li>
                    <li>
                      Pattern recognition
                    </li>
                  </ul>
                  <!-- <p>We do research in signal transmission.</p> -->
                  <!--
                  <canvas id="arctan-title" class="sketch" width="290" height="100"></canvas>
                  -->
                  
                  <!-- <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a> -->

                </div>
              </div>

              <!-- Item 2 -->
              <!-- <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                  <span class="linea-basic-display"></span>
                  <h4>Telecommunications</h4>
                  <p>We have produced a number of advances in pattern recognition and situation assessment.</p>
                  <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a>
                </div>
              </div> -->

              <!-- Item 3 -->
              <!-- <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                  <span class="linea-basic-life-buoy"></span>
                  <h4>Analytics Solutions</h4>
                  <p>We have extensive experience in analysis of complex scenarios and systems</p>
                  <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a>
                </div>
              </div> -->

            </div><!-- / .row -->
          </section>
          <br>
        <br>
        </div><!-- / .gray-bg -->
    

        <!-- ========== Featured Projects ========== -->

        <!-- <div id="portfolio" class="container-fluid ft-hover-item">
          <div class="row">
            
            <div class="ft-item ft-1 col-md-6">
              <div class="bg-overlay">

                <div class="content-wrapper">
                  <a href="#"><h3>Science</h3></a>
                  <p></p>
                  <a href="#" class="btn-ghost btn-ghost-light ft-button">View Project</a>
                </div>

              </div>
            </div>
            
            <div class="ft-item ft-2 col-md-6">
              <div class="bg-overlay">

                <div class="content-wrapper">
                  <a href="#"><h3>Engineering</h3></a>
                  <p></p>
                  <a href="#" class="btn-ghost btn-ghost-light ft-button">View Project</a>
                </div>

              </div>
            </div>

          </div>
        </div> -->

        <!-- ========== Arctan Fourier Animation ========== --> 
        
        <!-- <canvas id="arctan-title" class="sketch" width="500" height="300"></canvas> -->
       
        <!-- ========== Footer Contact ========== -->
        
        <footer id="contact" class="footer-contact">
          <!-- <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 no-gap contact-info">

                <a href="#" class="show-info-link"><i class="fa fa-info"></i>Show info</a>

                <div id="map-canvas" class="footer-map"></div>

                <address class="contact-info-wrapper">
                  <ul>
                    <li class="contact-group">
                      <span class="adr-heading">Address</span>
                      <span class="adr-info">Arlington, VA., US</span>
                    </li>
                    <li class="contact-group">
                      <span class="adr-heading">Email</span>
                      <span class="adr-info"><img src="{% static 'landingpage/assets/images/arctan-contact.png' %}" alt="Arctan - Email"></span>
                      
                    </li>
                  </ul>      
                  
                </address>
              </div>
            </div>
          </div> -->

          <!-- Copyright -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <small>&copy; 2019 Arctan, Inc.
                  </small>
                </div>

                <div class="col-md-3">
                  <small class="contact-group">
                    <span class="adr-info">Arlington, VA., US</span>
                  </small>
                </div>

                <div class="col-md-3">
                  <small  class="contact-group">
                    <span class="adr-info"><img src="{% static 'landingpage/assets/images/arctan-contact.png' %}" alt="Arctan - Email"></span>
                  </small>
                </div>

                <div class="col-md-3">
                  <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                </div>

              </div>
            </div>
          </div>
        </footer>

        <!-- / .footer-contact -->

    

        <!-- ========== Scripts ========== -->

        <script src="{% static 'landingpage/assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/google-fonts.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/jquery.easing.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/bootstrap-hover-dropdown.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/smoothscroll.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/jquery.localScroll.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/jquery.parallax.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/slick.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/countup.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/isotope.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/wow.min.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/jquery.ajaxchimp.js' %}"></script>
        <script src="{% static 'landingpage/assets/js/vendor/animDots.js' %}"></script>

        <!-- Google Maps -->
        <!-- <script src="{% static 'landingpage/assets/js/gmap.js' %}"></script> -->
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOcd7o0W0r846FC_GoHSK56xeAvP8fV4s"></script> -->

        <!-- Definity JS -->
        <script src="{% static 'landingpage/js/fourier/arctan-points.js' %}"></script>
        <script src="{% static 'landingpage/js/fourier/arctaninc-points.js' %}"></script>
        <script src="{% static 'landingpage/js/fourier/matrix-multiplication.js' %}"></script>
        <script src="{% static 'landingpage/js/fourier/fft.js' %}"></script>
        <script src="{% static 'landingpage/js/fourier/controller.js' %}"></script>
        <script src="{% static 'landingpage/js/fourier/controller-util.js' %}"></script>
        <script src="{% static 'landingpage/js/fourier/canvas-controller.js' %}"></script>
        <script src="{% static 'landingpage/js/fourier/util.js' %}"></script>
        <script src="{% static 'landingpage/js/fourier/justfourierthings.js' %}"></script>
        <script src="{% static 'landingpage/js/fourier/color.js' %}"></script>        
        <!-- <script src="{% static 'landingpage/js/fourier/epicycles-controller.js' %}"></script>
        <script src="{% static 'landingpage/js/fourier/arctan-epicycles-controller.js' %}"></script> -->

        <script src="{% static 'landingpage/js/fourier/wave-things.js' %}"></script>
       <!--  <script src="{% static 'landingpage/js/fourier/wave-controller.js' %}"></script> -->
        <script src="{% static 'landingpage/js/fourier/wave-split-controller.js' %}"></script>

        <script src="{% static 'landingpage/js/fourier/conductor.js' %}"></script>

        <script src="{% static 'landingpage/assets/js/main.js' %}"></script>
    </body>
</html>
