@charset "UTF-8";

@font-face {
  font-family: "stereola";  
  src:
    url("../fonts/STEREOLA.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="wave-"]:before,
[class*="wave-"]:before {
  font-family: "stereola" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;  
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wave-comma:before {
  content: ",";
}
.wave-minus:before {
  content: "-";
}
.wave-a:before {
  content: "a";
}